body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-library, .navbar-library container {
    background-color:#13294b;
}

a, a:active, a:link, a:visited, h2 {
    color:#E84A27;
}

a:hover {
    color:orange;
}

.blockI {
    display:inline-block;
    margin-right:15px;
}

.divbox {
    display: block;
    border:solid;
    border-width:1px;
    border-color:#13294b;
    margin: 20px;
    padding: 20px;
}

li.lihighlight {
    padding:11px;
    background-color:orangered;
    color:white;
}