@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    StaffEvaluations.Helpers.Logger.Log.Error(String.Format("Error.cshtml: {0} {1}", Model.ControllerName, Model.ActionName), Model.Exception);
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

