<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <add name="Entities" connectionString="metadata=res://*/Models.StaffEvalModel.csdl|res://*/Models.StaffEvalModel.ssdl|res://*/Models.StaffEvalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql_prod3.library.illinois.edu;initial catalog=StaffEvaluations;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="HR_DataEntities" connectionString="metadata=res://*/Models.HRDataModel.csdl|res://*/Models.HRDataModel.ssdl|res://*/Models.HRDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql_prod3.library.illinois.edu;initial catalog=HR_Data;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
