
@{
    ViewBag.Title = "Logoff";
}

<h2>Log Off</h2>

<p>This application uses integrated Windows authentication.  The only way to securely log off is to close the web browser.</p>

<h3>To log off exit from the web browser now.</h3>


